.container{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 10%;
    padding: 5% 0 10% 0;
}

.left{
    display: flex;
    justify-content: center;   
}

.left img{
    border-radius: 5px;
}


.right{
    height: 200px;
}

.right h1{
    font-size: 20px;
    text-align: left;
}

.right p {
    display: inline-block;
}
.action input{
    width: 40px;
    height: 20px;
}

.CartBtn{
    width: 22%;
    height: 2.3em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: 30px;
}

.CartBtn:hover{
    color: black;
}

.CartBtn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.CartBtn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.CartBtn p {
    margin: 0;
    font-size: 15px;
    padding: 0;
}
.info{
    display: grid;
    margin-top: 18px;
    font-size: 20px;
}

.describe{
    display: grid;
    margin-top: 5px;
}
.rate{
    margin-top: 3px;
}
.service{
    margin-top: 3px;
}
.contract{
    margin-top: 3px;
}
.rating{
    margin-top: 10px;
    font-size: 20px;
}