/* style.module.css */

.statistical {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.apexcharts-menu-icon {
  width: 16px !important;
  height: 16px !important;
}

.apexcharts-toolbar {
  font-size: 14px !important;
}
.apexcharts-menu {
  max-height: 200px; /* Giới hạn chiều cao */
  overflow-y: auto; /* Thêm khả năng cuộn */
}

.apexcharts-menu-item {
  font-size: 12px !important; /* Giữ font chữ nhỏ */
}

.apexcharts-toolbar .apexcharts-toolbar-icon {
  width: 16px !important;
  height: 16px !important;
}

.apexcharts-menu-item {
  font-size: 12px !important;
}
