.wrap {
    background-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
}

.header{
    width: 95%;
    margin: 20px 0;
    padding-top: 20px;
    padding-left: 5%;
}

.header input {
    margin-right: 100px;
}


.header input {
    max-width: 190px;
   
    color: #242424;
  
}

.header input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

.header input:hover {
    outline: 1px solid lightgrey;
}

/*Table*/
.manage_product{
    width: 99%;
    margin-left: 0.3%;
}

.manage_product thead {
    font-size: 15px;
    font-weight: 500;
}


.manage_product th{
    background-color: #081158;
    color: white;
}

.manage_product td{
    text-align: center;
}

.manage_product tbody {
    font-size: 15px;
}

.manage_product tr{
    display: grid;
    grid-template-columns: 40% 30% 20% 10%;
}

.manage_product tbody tr{
    border-bottom:  1px solid rgb(168, 168, 168);
}

.manage_product tbody td:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;

}

.manage_product tbody td:nth-child(1) img{
    width: 100px;
}

.manage_product tbody td:nth-child(1) p{
    text-align: left; 
    width: 70%;
}

.manage_product tbody td:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.manage_product tbody td:nth-child(3){
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.manage_product tbody td:nth-child(4){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.manage_product tbody td:nth-child(4) button , .header button{
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: #0095e8;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}
  
.manage_product tbody td:nth-child(4) button:hover , .header button:hover{
    background-color: #0095e8;
    box-shadow: 0px 0px 20px -18px;
}
  
.manage_product tbody td:nth-child(4) button:active , .header button:active{
    transform: scale(0.95);
}

.header button{
    height: 35px;
    margin-left: 50px;
}

.products{
    display: flex;
    flex-direction: column;
    float: left;
}

.product_item{
    display: flex;
    flex-direction: row-reverse;
}
.red {
    color: red;
}

.green {
    color: green;
}
