.modal{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(37, 51, 141, 0.1);
  box-sizing: border-box;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.wrap_content {
  padding: 30px 20px;
  padding-top: 0;
  width: 500px;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-items: center;

}

.wrap_content > h1 {
  width: 100%;
  text-align: right;
}

.wrap_content > h2{
  margin: 0 ;
  margin-bottom: 20px;
}

.startday , .endday , .wrap_content > span{
  width: 100%;
  display: flex;
  align-items: center;
}

.startday p, .endday p{
 margin: 5% 10%;
}

.wrap_content > span{
  justify-content: center;
}

.wrap_content > span p{
  display: inline-block;
  padding: 0 10px;
}

.wrap_content > button{}

.wrap_content > button{
  width: 80%;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #081158;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.wrap_content > button a{
font-size: 12px;
color: white;
}

.wrap_content > button:before {
content: "";
background: linear-gradient(
  45deg,
  #ff0000,
  #ff7300,
  #fffb00,
  #48ff00,
  #00ffd5,
  #002bff,
  #7a00ff,
  #ff00c8,
  #ff0000
);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 20s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

@keyframes glowing-button-85 {
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}
}

.wrap_content > button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #081158;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.cost{
margin-left: 50%;
margin-bottom: 20px;
color: red;
margin-top: 10px;
}
