.wrap-content{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    padding-left: 20px;
    gap: 20px;
}

.wrap-content h1{
    font-size: 18px;
}

.wrap-content div>svg{
    font-size: 80px;
    
}

.wrap-content div:not(:last-child){
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 4px 8px 9px rgba(108, 123, 202, 0.1);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.wrap-content div:not(:last-child) p{
    color: #0cb90c;
}


.wrap-content div:last-child{
    grid-column: 1 / span 3;
}

.statistical{
    background-color: white;
    box-shadow: -1px 4px 8px 9px rgba(108, 123, 202, 0.1);
    padding: 20px 10px;
    border-radius: 10px;

}

.statistical h1{
    font-size: 30px;
    text-align: left;
    padding-left: 40px;
}

.User-training svg{
    color: #0cb90c;
}

.employee svg{
    color: rgb(0, 0, 109);
}

.purchaseOder svg{
    color: rgb(85, 1, 1);
}