/* Container adjustments */
#container {
    margin-top: 135px !important;
}

.container-item-1 {
    display: flex;
    margin-bottom: 40px;
}

.container-item-1 a {
    color: white;
}

.container-item-1 .left-item {
    width: 50%;
}

.container-item-1 .left-item img {
    border-radius: 10px;
    margin-left: 5%;
}

.container-item-1 .right-item {
    width: 50%; 
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-item-1 .right-item h1 {
    color: #081158;
    font-family: system-ui;
    font-weight: 600;
    margin-top: 100px;
}

.container-item-1 h2 {
    font-size: 15px;
    text-align: center;
}

.container-item-1 .right-item h2 {
    color: #081158;
    font-family: system-ui;
    font-weight: 500;
}

.container-item-1 button {
    margin-top: 10px;
    cursor: pointer;
}

.goPT {
    background: #081158;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 8px;
}

/* Container Item 2 */
.container-item-2 {
    height: 100px;
    background-color: #081158;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 20px; 
}

/* Container Item 3 */
.container-item-3 h1 {
    width: 100%;
    text-align: center;
    padding: 40px;
    color: #081158;
}

.container-item-3 .wrap-trip {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5%;
    margin-bottom: 70px;
}

.container-item-3 .wrap-trip .trip {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-item-3 .wrap-trip .trip img {
    border-radius: 10px;
}

.wrap-content p {
    font-size: 15px;
    text-align: -webkit-match-parent;
    text-align: justify;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
    width: 450px;
}

.container-item-3 .wrap-trip .trip .wrap-content {
    padding: 10px 0;
    width: 65%;
    color: #081158;
    font-weight: 500;
    font-size: 18px;
}

.container-item-3 .wrap-trip .trip .wrap-content h2 {
    padding: 10px 0;
}

.container-item-3 .wrap-trip .wrap-content {
    width: 70%;
    text-align: center;
}

.container-item-3 h1 {
    padding: 40px 0;
}

/* Container Items 4 and 5 */
.container-item-4, .container-item-5 {
    background-color: #081158;
    height: 600px;
}

.container-item-4 h1 {
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    color: aliceblue;
}

.container-item-4 .wrap-pt, .container-item-5 .wrap-pt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
    /* height: 100%; */
    width: 85%;
    margin-left: 90px
}

.container-item-4 .wrap-pt .list-item, .container-item-5 .wrap-pt .list-item {
    height: 400px;
    box-sizing: border-box;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 60% 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #081158;
    border-radius: 10px;
}

.container-item-4 .wrap-pt img, .container-item-5 .wrap-pt img {
    border-radius: 10px;
    height: 230px;
    width: 80%;
    margin-left: 10%;
}

.container-item-4 .wrap-content, .container-item-5 .wrap-content {
    padding: 0 5% 0px 5%;
    color: #081158;
    font-weight: 500;
    align-items: center;
}

.container-item-5 {
    background-color: #f5f5f5;
}

.container-item-5 .wrap-pt .list-item {
    background-color: white;
}

.container-item-5 h1 {
    padding: 40px 0;
    text-align: center;
}

.container-item-4>a {
    color: white;
}

.container-item-5>a, .container-item-4>a {
    float: right;
    margin-right: 3%;
}

.container-item-4 .wrap-content h2, .container-item-5 .wrap-content h2 {
    font-size: 20px !important;
    font-weight: bold;
    text-align: center;
}

.container-item-4 .wrap-content h3, .container-item-5 .wrap-content h3 {
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    margin-top: 5px;
}

.container-item-4 .wrap-content h3:nth-child(3), .container-item-5 .wrap-content h3:nth-child(3) {
    text-align: right;
    font-weight: 700;
}

.container-item-4 .wrap-content a, .container-item-5 .wrap-content a {
    color: #081158;
}

.container-item-4 .wrap-content h3[style="color: red"] {
    color: red;
}

/* Register Button Styles (for "Đăng ký ngay") */
.registerButton {
    display: inline-block;
    background-color: #F5F5DC; /* Match the desired background color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
}

.registerButton:hover {
    background-color: #0056b3;
}
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
}

.price {
    margin-left: 4px;
    margin-top: 5px;
    display: inline-block;
    color: red;
}

.price .currency {
    margin-left: 1px;
    margin-top: 1px;
    display: inline-block;
}
.wrap-content p{
    color: black;
}
.button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .view-more {
    background-color: #081158;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    
  }
  
  .view-more:hover {
    background-color: #1974D3;
  }
  