.productItem{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s ;
}

.productItem a{
  color: #081158;
}

.productItem img{
    width: 80%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    margin-left: 10%;
}

.productItem :not(img){
    padding: 5px;
}

.CartBtn {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
    width: 20px;
  }
  
  .fa-cart-plus{
    width: 20px;
  }

  
  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }

  .wrap_content{
    height: 100%;
  }

  .wrap_content  h1{
    font-size: 15px;
    text-align: -webkit-match-parent;
  }
  .red_price{
    color: red;
    margin-left: 1px;
  }
  .inlineInfo {
    display: flex; 
    gap: 8px; 
    align-items: center; 
}

.discount {
    font-size: 14px;
    color: green; 
    font-weight: bold;
    background-color: bisque;
    border-radius: 5px;
    padding: 2px 4px;
    line-height: 1;
}
